<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Courses</title>
    </head>
    <body>

        <h2 th:text=" 'Login as ' + ${#httpServletRequest.remoteUser}">
            Login as
        </h2>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

        <h1>All Courses</h1>

        <div th:each="course,iterationStatus: ${courses}">
            <h3 th:text="'No. ' + ${iterationStatus.count}">No. 1</h3>
            <h3 th:text="'ID = ' + ${course.id_course}">ID</h3>
            <h3 th:text="'Nama = ' + ${course.nama}">Name</h3>
            <h3 th:text="'SKS = ' + ${course.sks}">SKS</h3>
        </div>


    </body>
</html>
